@font-face {
	font-family: "Computer Modern";
	src: url(./fonts/Computer_Modern/cmunrm.ttf);
}

body{
	font-family: "Computer Modern";
}
p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}

nav,footer {
    text-align: center ;
    font-variant: small-caps ;
    clear: both ;
}

nav { font-size: small ;}

footer { font-size: large ; }

nav li,footer li {
	display: inline-block ;
	list-style: none ;
	background: rgba(0,0,0,.3) ;
	border-radius: 10px ;
	padding: .5em ;
	max-width: 7em ;
}


nav a li:hover, footer a li:hover {
	background: goldenrod ;
	color: black ;
}

main {
	margin: auto ;
	color: #ddd ;
	background: rgba(0, 0, 0, 0) ;
	padding: 20px ;
	border-radius: 10px ;
}

strong { color: white ; }

a strong { color: lime ; }

details { padding-left: 20px ; text-decoration: underline; }

pre {
	background: #222 ;
	border: 1px solid lime ;
	border-radius: 20px ;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
}

code {
	background: #222 ;
	color: lime ;
	border-radius: 5px ;
	overflow-wrap: break-word ;
}


ul {
	margin-left: 20px ;
	margin-right: 20px ;
}

li img, p img {
	max-height: 1em ;
	max-width: 1em ;
}

html {
	padding-top: 10px;
	background: linear-gradient(to bottom right, rgb(102, 77, 150), rgb(41, 3, 63)) no-repeat fixed ;
	margin-bottom: 500px;

}

h1,h2,h3,h4 { text-align: center ; }

h1 { color: rgb(197, 146, 35) ; }

h2 { color: rgb(51, 173, 146) ; }

h3 { color: rgb(95, 35, 24) ; }

h4 { color: rgb(9, 255, 0) ; }

a { color: rgb(83, 224, 64) ; text-decoration: none ;}

a:hover { color: rgb(147, 155, 134) ;}
.new a:hover { color: rgb(153, 160, 142) ; }


dt { font-weight: bold ; color: lightgray ; }

.right {
	display: block ;
	margin: auto ;
	max-width: 90% ;
}

.disappear {
	display: none ;
}

.titleimg {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
}

.lol {
	padding: .25em ;
}

.lol ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

/* .lol li { */
/* 	padding: 1px ; */
/* } */

@media (min-width: 55em) {

    /* nav { */
    /*     position: fixed; */
    /* } */
    /* nav li { */
    /*     display: block ; */
    /*     margin: 10px ; */
    /* } */

	.lol { display: inline-block; vertical-align: top ; }

	.right, .disappear {
		display: block ;
		float: right;
		padding: 20px ;
		clear: both ;
		max-height: 300px ;
		max-width: 200px ;
        border: #ddd;
	}

    .centre{
        margin: auto;
        width: 50%;
        padding: 10px;
        max-height: 400px ;
		max-width: 300px ;
    }

	main { max-width: 850px ; }

	.column {
		float: left;
		width: 50% ;
	}

}

/* footer { */
/* 	font-size: large ; */
/* 	margin: auto ; */
/* 	max-width: 500px ; */
/* } */

.entry p, .entry li { margin-left: 2em ; }

figure img { max-width: 100% ; margin: auto ; }

figcaption { font-style: italic ; font-size: small ; }

figure { text-align: center; }

#toc {
	font-size: x-large ;
	margin-left: auto ;
	margin-right: auto ;
	max-width: 500px ;

}

#toc li { padding: 5px }

.new::after {
	content: " 🆕" ;
	/* content: " (New 🎁)" ; */
	color: goldenrod ;
}

.i a { color: green ;}
.d a { color: red ;}

/* For QR codes for bitcoin and crypto */
.qr { max-width: 150px ; padding: 10px }

.entryinfo {
	text-align: center ;
	font-size: x-small ;
	margin: 0 ;
}

#mainmenu {
	font-size: large ;
}



#mainmenu dd {
  display: inline;
  margin: 0;
}
#mainmenu dd:after{
  display: block;
  content: '';
}
#mainmenu dt{
  display: inline-block;
  min-width: 100px;
}

aside {
	font-size: small ;
	color: lightgray ;
	margin-left: 3em ;
	margin-right: 3em ;
	padding: 0 1em 0 1em ;
	border: 1px solid black ;
	border-radius: 20px ;
}

blockquote {
	text-align: center ;
}
