@font-face {
	font-family: "Computer Modern";
	src: url(./fonts/Computer_Modern/cmunrm.ttf);
}

@font-face {
	font-family: "Computer Modern Bold";
	src: url(./fonts/Computer_Modern/cmunbx.ttf);

}
body{
	font-family: "Computer Modern";
}

.mailto{
	text-align: center;
	color: #53061a;
	font-size: larger;
	font-weight: bold;
}

p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}


footer { font-size: large ; }

.nav-bar{
	position: fixed;
	top: 0;
	padding: 0;
	margin: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #53061a;
	color: #d5b895;
}

.nav-ele{
	float: left;
}

.nav-ele a{
	display: block;
	color:rgb(131, 87, 58);
	text-align: center;
	font: "Computer Modern Bold";
	font-size: medium;
	font-weight: bold;
	padding: 1em 1em;
}

.nav-ele a:hover{
	color:#53061a;
	background-color:#d5b895
}
main {
	margin: auto ;
	color: rgb(0, 0, 0) ;
	padding: 20px ;
	border-radius: 10px ;
	font-size: large;
	font-weight: 400;
}

strong { color: white ; }


details { padding-left: 20px ; text-decoration: underline; }

pre {
	background: #222 ;
	border: 1px solid lime ;
	border-radius: 20px ;
	padding: 1em ;
	margin: 1em ;
	white-space: pre-wrap;
}



ul {
	margin-left: 20px ;
	margin-right: 20px ;
}

li img, p img {
	max-height: 1em ;
	max-width: 1em ;
}

html {
	padding-top: 10px;
	background: #d5b895 ;
	margin-bottom: 500px;

}

h1,h2,h3,h4 { text-align: center ; }

h1 { color: rgb(124, 90, 52) ; }

h2 { color: #53061a ; }

h3 { color: rgb(95, 35, 24) ; }

h4 { color: rgb(51, 3, 3) ; }

a { color: #53061a ; text-decoration: none ;}

a:hover { color: rgb(147, 155, 134) ;}
.new a:hover { color: rgb(153, 160, 142) ; }


dt { font-weight: bold ; color: lightgray ; }

.right {
	display: block ;
	margin: auto ;
	max-width: 90% ;
}

.disappear {
	display: none ;
}

.titleimg {
	display: block ;
	margin: auto ;
	max-width: 90% ;
	max-height: 400px ;
}

.lol {
	padding: .25em ;
}

.lol ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

/* .lol li { */
/* 	padding: 1px ; */
/* } */

@media (min-width: 55em) {

    /* nav { */
    /*     position: fixed; */
    /* } */
    /* nav li { */
    /*     display: block ; */
    /*     margin: 10px ; */
    /* } */

	.lol { display: inline-block; vertical-align: top ; }

	.right, .disappear {
		display: block ;
		float: right;
		padding: 20px ;
		clear: both ;
		max-height: 300px ;
		max-width: 200px ;
        border: #ddd;
	}

    .centre{
        margin: auto;
        width: 50%;
        padding: 10px;
        max-height: 400px ;
		max-width: 300px ;
    }

	main { max-width: 850px ; }

	.column {
		float: left;
		width: 50% ;
	}

}

.entry p, .entry li { margin-left: 2em ; }

figure img { max-width: 100% ; margin: auto ; }

figcaption { font-style: italic ; font-size: small ; }

figure { text-align: center; }

#toc {
	font-size: x-large ;
	margin-left: auto ;
	margin-right: auto ;
	max-width: 500px ;

}

#toc li { padding: 5px }

.new::after {
	content: " 🆕" ;
	/* content: " (New 🎁)" ; */
	color: goldenrod ;
}

.i a { color: green ;}
.d a { color: red ;}

/* For QR codes for bitcoin and crypto */
.qr { max-width: 150px ; padding: 10px }

.entryinfo {
	text-align: center ;
	font-size: x-small ;
	margin: 0 ;
}

#mainmenu {
	font-size: large ;
}



#mainmenu dd {
  display: inline;
  margin: 0;
}
#mainmenu dd:after{
  display: block;
  content: '';
}
#mainmenu dt{
  display: inline-block;
  min-width: 100px;
}

aside {
	font-size: small ;
	color: lightgray ;
	margin-left: 3em ;
	margin-right: 3em ;
	padding: 0 1em 0 1em ;
	border: 1px solid black ;
	border-radius: 20px ;
}

blockquote {
	text-align: center ;
}
